body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,p,pre,td,textarea,th,ul {
    margin: 0;
    padding: 0
}

p {
    line-height: 1.8;
    margin: 0 0 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

blockquote {
    margin: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    
}

abbr,fieldset,img {
    border: 0
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: 400
}

ul li {
    list-style: none
}

caption,th {
    text-align: left
}

body,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

legend {
    color: #000
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section {
    display: block
}

img {
    max-width: 100%;
    height: auto
}

body {
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    line-height: 1.5
}

*,:after {
    box-sizing: border-box
}

.wrapper {
    max-width: 840px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px
}

.wrap {
    font-size: 0
}

.wrap_margin {
    margin: 35px auto
}

.clearfix:after,.clearfix:before {
    content: "";
    display: table;
    clear: both
}

.relative {
    position: relative
}

.hr {
    width: 100%;
    height: 2px;
    background-color: #ff3c00;
    margin: 20px 0
}

.d-inline {
    display: inline-block
}

.mt-4 {
    margin-top: 40px
}

.mb-2 {
    margin-bottom: 20px
}

.center,footer {
    text-align: center
}

.btn {
    box-shadow: 0 0 56px 4px rgba(255,60,0,.48);
    background-color: #ff3c00;
    color: #fff;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.96px;
    display: table;
    margin: 70px auto 20px;
    padding: 20px 35px;
    border-radius: 50px;
    text-decoration: none;
    transition: all .7s ease-out
}

.btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
}

footer {
    margin: 55px auto 20px;
    font-size: 14px
}

.hidden-x {
    overflow: hidden
}



.article-top {
    background: url(../images/gb.jpg) no-repeat;
    background-size: cover;
    padding: 0 0 10px;
    margin-bottom: 20px
}

.article-top__left {
    display: inline-block;
    width: calc(100% - 300px);
    margin: 40px 0 100px
}

.article-top__right {
    display: inline-block;
    width: 300px
}

.doc {
    position: absolute;
    bottom: -124px;
    max-width: initial;
    right: 0;
}

.title-bg {
    border-radius: 24px;
    background-color: #119fbe;
    color: rgb(27, 23, 23);
    font-size: 33px;
    font-weight: 700;
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 20px
}

.img-left {
    float: left;
    margin-right: 20px
}

.product-1 {
    width: calc(100% - 561px);
    vertical-align: middle;
    padding-right: 30px;
}

.product-2 {
    margin: 110px auto 100px;
    text-align: right
}

.product-2__product {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -210px
}

.img-4 {
    margin: 0
}

a {
    font-weight: 700
}

a:hover {
    text-decoration: none
}

.h3,h1 {
    font-weight: 900;
    color: rgb(15, 150, 228);
}

h1 {
    color: rgb(100, 78, 78);
    font-size: 36px
}

.h3,.ul-list {
    margin-bottom: 20px
    
}

.h3 {
    font-size: 21px
}

.ul-list {
    padding: 0 20px
}

.ul-list li {
    list-style-type: disc
}

.header-wrapper {
    font-size: 0
}

.header-bg {
    background-color: #00a3c8;
    padding: 20px 0
}

.logo,.menu {
    display: inline-block;
    vertical-align: middle
}

.logo {
    width: 170px
}

.menu {
    font-size: 14px;
    font-weight: 400;
    color: #fff
}

.menu_link {
    width: calc(100% - 170px - 150px);
    text-align: left;
}

.menu_icon {
    width: 150px;
    line-height: 0;
}

.menu_black {
    margin: 0 auto;
    display: table;
    padding: 14px 0
}

.menu_black a {
    color: #000
}

.menu_black .menu-item {
    padding: 0 25px
}

.menu_top .menu-item {
    position: relative
}

.menu_top .menu-item:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    bottom: 0;
    right: 0;
    background: #fff
}

.menu_top .menu-item:last-child:after {
    display: none
}

.menu-item {
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    position: relative;
}

.menu-item__href {
    color: rgb(61, 53, 53);
    text-decoration: none;
    display: block;
    font-weight: 400
}

.menu-item__href:hover {
    text-decoration: underline
}

.menu-wrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.burger {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
}

.menu_top {
    padding-left: 22px;
    color: #000;
}

.person {
    font-size: 0;
    margin-bottom: 10px
}

.person-ava {
    display: inline-block;
    vertical-align: bottom;
    width: 60px
}

.person-ava_expert {
    width: 80px
}

.person-info {
    display: inline-block;
    vertical-align: bottom;
    width: calc(100% - 80px);
    font-size: 16px;
    padding-right: 20px;
}

.person-info__name {
    font-weight: 700;
    margin-bottom: 5px
}

.person-date {
    color: #939393;
    font-size: 16px
}

.comment-title {
    font-size: 20px;
    font-weight: 700;
    margin: 60px 0 20px
}

.comment {
    margin-bottom: 20px;
    border-top: 1px solid #c3c3c3;
    padding-top: 20px
}

.comment .person-info {
    padding-left: 40px;
}

.comment-description {
    font-weight: 400;
    line-height: 28px
}

.share {
    position: absolute;
    left: -20px;
    top: 0;
}

[class*=" icon-"],[class^=icon-] {
    height: 23px;
    width: 23px;
    display: inline-block;
    fill: currentColor
}

.share [class^=icon-] {
    width: 14px;
    height: 14px;
    cursor: pointer;
    color: #5d777d
}

.share [class^=icon-]:hover {
    color: #ff7800
}

.icon-star {
    margin-left: 5px
}

.icon-share {
    -webkit-transform: scale(-1,1);
    transform: scale(-1,1)
}

.breadcrumbs {
    padding: 10px 0;
    font-size: 12px
}

.breadcrumbs .menu-item__href:after {
    content: '/';
    position: absolute;
    right: 0
}

.breadcrumbs .menu-item:first-child {
    padding: 0 10px 0 0
}

blockquote {
    padding: 30px;
    color: #fff;
    line-height: 32px;
    font-size: 16px;
    border-radius: 12px
}

.blockquote-blue {
    background-color: #00a3c8;
    max-width: 561px;
    vertical-align: middle;
    font-weight: 700
}

.blockquote-brown {
    background-color: #917a49
}

.blockquote-brown a {
    color: #ffea00
}

@media screen and (max-width: 840px) {
    body {
        font-size:16px;
        line-height: 1.2;
       
    }

    .hidden-mobile {
        display: none!important
    }

    .product-1 {
        width: calc(100% - 461px)
    }

    .logo {
        width: 150px
    }

    .menu_icon {
        width: calc(100% - 150px);
        text-align: right
    }

    .comment-description {
        font-size: 14px;
        line-height: inherit
    }

    .blockquote-blue {
        max-width: 461px
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding-left:10px;
        padding-right: 10px
    }

    .mt-4 {
        margin-top: 10px
    }

    .btn {
        font-size: 20px;
        padding: 15px 25px;
        margin: 40px auto 20px
    }

    .article-top {
        overflow: hidden
    }

    .article-top .wrapper {
        width: 300px
    }

    .article-top__left {
        margin: 0 0 -40px
    }

    .article-top__left,.article-top__right {
        display: block;
        width: 100%
    }

    .doc {
        position: relative;
        bottom: -60px;
        right: 100px
    }

    .title-bg {
        background: 0 0;
        font-size: 14px;
        padding: 13px 0;
        text-align: center;
        display: table;
        margin: 0 auto;
    }

    .img-left {
        float: none;
        margin: 0 auto 15px;
        display: block
    }

    .product-1 {
        width: 100%;
        display: block;
        padding: 0;
        max-width: 250px;
        margin: 20px auto 0
    }

    .product-2 {
        text-align: center;
        margin: 40px auto
    }

    .product-2__product {
        position: relative;
        margin: 25px auto 0;
        max-width: 250px
    }

    h1 {
        font-size: 23px;
        text-align: center;
    }

    .h3 {
        font-size: 17px
    }

    .menu_black .menu-item {
        padding: 0 14px
    }

    .person-info {
        padding-left: 10px
    }

    .person-date,.person-info {
        font-size: 14px
    }

    .breadcrumbs {
        display: none
    }

    blockquote {
        padding: 15px;
        border-radius: 0
    }

    .blockquote-blue {
        width: 100%;
        display: block;
        max-width: inherit;
        font-weight: 400;
        line-height: inherit
    }
}